<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="text-center">Posts</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"><p>ID</p></th>
                <th scope="col"><p>Titile</p></th>
                <th scope="col"><p>Logo</p></th>
                <th scope="col"><p>Title Of Post</p></th>
                <th scope="col"><p>Date</p></th>
                <th scope="col"><p>Views</p></th>
                <th scope="col"><p>Content</p></th>
                <th><a href="/admin/post/add" class="btn btn-primary">Add Post</a></th>
              </tr>
            </thead>

            <tbody>
                <% listPosts.forEach((el,index) => { %>
                    <tr>
                        <th scope="row"><%=index + 1%></th>
                        <td><p><%=el.title%></p></td>
                        <td><img style="width: 50px; height: 50px;" src="/img/logo/<%=el.logo%>" alt=""></td>
                        <td><%=el.nameTitle%></td>
                        <td><%=el.date%></td>
                        <td><%=el.views%></td>
                        <td><p><%=el.contentSub%></p></td>
                        <td>
                            <a href="/admin/post/edit/<%=el._id%>" class="btn btn-success">Edit</a>
                            <form action="/admin/post/delete/<%=el._id%>" class="mt-1" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>