<table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date Of Birth</th>
                            <th scope="col">Address</th>
                            <th scope="col">Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% studentList.forEach((element,index) => { %>
                            <tr>
                                <th scope="row"><%= element.studentId %></th>
                                <td><%= element.name %></td>
                                <td><%= element.dob %></td>
                                <td><%= element.address %></td>
                                <td><%= element.email %></td>
                                <td><a href="/update/<%=element._id%>"><ion-icon name="copy-outline"></ion-icon></a></td>
                                <td><a href="/delete/<%=element._id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
                            </tr>
                        <% }); %>
                    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <% if(activePage > 1) { %>
        <li class="page-item"><a class="page-link" href="?page=<%=activePage - 1%>">Previous</a></li>
      <% } %>
      <% for(let i = 1; i <= totalPage; i++){ %>
      <li class="page-item"><a class="page-link" href="/?page=<%=i%>"><%=i%></a></li>
      <% } %>
      <% if(activePage < totalPage){ %>
        <li class="page-item"><a class="page-link" 
            href="/?page=<%= activePage + 1 %>">
            Next</a></li>
      <% } %>
    </ul>
  </nav>